:root{
  --highlight:#FFE200;
  --spacer:1.5rem;
  --omargin:40px;
  --topmargin:100px;
  --background:white;
  --content-column:100px;
}

html{
  font-size:10px;
}
body{
  background-color: var(--background);
}
.content-wrap{
  pointer-events: none;
  position:absolute;
  width:100%;
  top:0px;
  min-height:200vh;
  overflow: visible;
}
.grid{
  display:grid;
  gap: 0px 10px;
  grid-template-columns:var(--omargin) repeat(3, minmax(0, 1fr)) repeat(6,var(--content-column)) repeat(3, minmax(0, 1fr)) var(--omargin);
  grid-template-rows: repeat(12,minmax(min-content, max-content));
  /* grid-template-rows: repeat(auto-fill, minmax(0, 1fr)); */
  /* grid-template-rows:minmax(0, 1fr) 10px; */
}

.fixed{
  position:absolute;
  top:0;
}
.content-wrap > div{
  pointer-events: all;
  /* position: -webkit-sticky;
  position:sticky;
  top:100px; */
}
.content-wrap > p{
  transition: background-color 0.5s;
}
.content-wrap > p, blockquote{
  z-index:200;
  position:relative;

  padding-bottom:20px;
  pointer-events: all;
}

.content-wrap > blockquote{
  padding-bottom:calc(var(--spacer) * 2);
  cursor:pointer;
}

.opinion-test{
  position:relative;
}
.opinion-test h1{
  display:inline;
  position:absolute;
  left:-25px;
  top:-7px;
  color:black;
}



.scroll .lede-wrap{
  visibility:hidden;
}

.lede-wrap{
  position:sticky;
  top:var(--topmargin);
  padding-bottom:40px;
  z-index:-5;
  margin-top:var(--topmargin);
  /* grid-row-start:2; */
  /* margin-top:100px; */
}

.content-wrap > .content-zone,p, blockquote{
  background-color: var(--background);
  grid-column: 5 / 11;
}

.imgwrap-large{
  grid-column: 4 / 12;
  background-color: var(--background);
  padding-bottom:40px;
}
.imgwrap-large img{
  width:100%;
}

@media(max-width:800px){
  :root{
    --content-column:minmax(0, 1fr);
  }
  .content-wrap > .content-zone,p, blockquote{
    background-color: var(--background);
    grid-column: 2 / 14;
  }
  .imgwrap-large{
    grid-column: 1 / 15;
    padding-bottom: 20px;
  }
  .imgwrap-large img{
    margin-bottom:10px;
  }
  .imgwrap-large span{
    margin-left:calc(var(--omargin) + 10px);
  }
}
@media(max-width:600px){
  .lede-wrap{
    padding-bottom: 30px;
  }
  :root{
    --topmargin:75px;
    --omargin:10px;
  }
  .opinion-test h1{
    left:0px;
    top:-6px;
  }
  .opinion-test{
    padding-left:20px;
  }
}
