:root{
  --highlight:#FFE200;
  --spacer:1.5rem;
  --omargin:20px;
  --topmargin:200px;
  --background:white;
}

html{
  font-size:10px;
}
body{
  background-color: var(--background);
}
.sticky{
  pointer-events: none;
  position:absolute;
  width:100%;
  top:0px;
  min-height:200vh;
  overflow: visible;
}
.grid{
  display:grid;
  gap: 0px 10px;
  grid-template-columns:var(--omargin) repeat(3, minmax(0, 1fr)) repeat(6,100px) repeat(3, minmax(0, 1fr)) var(--omargin);
  grid-template-rows: repeat(12,minmax(min-content, max-content));
  /* grid-template-rows: repeat(auto-fill, minmax(0, 1fr)); */
  /* grid-template-rows:minmax(0, 1fr) 10px; */
}


.fixed{
  position:absolute;
  top:0;
}
.sticky > div{
  pointer-events: all;
  /* position: -webkit-sticky;
  position:sticky;
  top:100px; */
}
.sticky > p{
  grid-column: 5 / 11;
  z-index:200;
  position:relative;
  background-color: var(--background);
  padding-bottom:20px;
  pointer-events: all;
  /* border-bottom:1px solid white; */
}
.sticky > blockquote{
  grid-column: 5 / 11;
  z-index:200;
  position:relative;
  background-color: var(--background);
  padding-bottom:20px;
  pointer-events: all;
}

.opinion-test h1{
  display:inline;
  position:absolute;
  left:-20px;
  top:-4px;
  color:black;
}


.scroll .lede-wrap{
  visibility:hidden;
}

.lede-wrap{
  position:sticky;
  top:100px;
  padding-bottom:40px;
  z-index:-5;
  margin-top:100px;
  /* grid-row-start:2; */
  /* margin-top:100px; */
}
.content-zone{
  background-color: var(--background);
  grid-column: 5 / 11;
}
.imgwrap{
  grid-column: 4 / 12;
  background-color: var(--background);
  padding-bottom:40px;
}
.imgwrap img{
  width:100%;
}
