html{
  font-size:10px;
}

h1{
  font-family: halyard-display, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3.7rem;
  line-height: 4rem;
  margin-bottom:var(--spacer);
  letter-spacing:0px;
}
h2{
  font-family: halyard-text, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.4rem;
  line-height: 3.2rem;
  margin-bottom:calc(var(--spacer) * 2);
}
span{
  font-family: anonymous-pro, monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
a{
  color:black;
  border-bottom:2px solid var(--highlight);
  padding-bottom:4px;
}
